Options -indexes
RewriteEngine On
RewriteBase /kurumsalSite/
RewriteRule ^institutional/(.*)$ index.php?page=institutional&seflink=$1 [NC]
RewriteRule ^services$ index.php?page=services [NC]
RewriteRule ^projects$ index.php?page=projects [NC]
RewriteRule ^blogs$ index.php?page=blogs [NC]
RewriteRule ^contact$ index.php?page=contact [NC]
RewriteRule ^services-detail/(.*)$ index.php?page=services-detail&seflink=$1 [NC]
RewriteRule ^projects-detail/(.*)$ index.php?page=projects-detail&seflink=$1 [NC]
RewriteRule ^blogs-detail/(.*)$ index.php?page=blogs-detail&seflink=$1 [NC]
